# Dataset files
data/*.csv
data/*.zip
data/*.parquet

# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
.env

ngrok-v3-stable-windows-amd64 (1)/
